/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles for @html content with parent div class renderedHTML */
.renderedHTML h1 {
  @apply text-2xl;
}
.renderedHTML h2 {
  @apply text-xl;
}
